/* ==================================================
    GREMIO FEM RESPAWN — ESTILOS
   ================================================== */


/* ---------- VARIABLES ---------- */

:root {

    --black: #09090a;

    --off-white: #f2f0e9;

    --gray: #9a9996;

    --dark-gray: #343438;

    --purple: #7040ff;

    --purple-light: #9878ff;

    --green: #caff19;

}


/* ---------- RESET ---------- */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    margin: 0;

    background: var(--black);

    color: var(--off-white);

    font-family: "Space Grotesk", sans-serif;

    -webkit-font-smoothing: antialiased;

}

a {
    color: inherit;
}


/* ---------- HEADER ---------- */

.header {

    width: calc(100% - 100px);

    height: 88px;

    margin: auto;

    display: flex;

    align-items: center;

    justify-content: space-between;

    border-bottom: 1px solid var(--dark-gray);

}


.logo {

    text-decoration: none;

    font-size: 30px;

    font-weight: 700;

    letter-spacing: -0.07em;

    line-height: .85;

    display: flex;

    flex-direction: column;

}


.logo-main {

    color: var(--purple-light);

    align-self: flex-start;

}


.logo-sub {

    margin-top: 5px;

    margin-left: 3px;

    align-self: flex-start;

    color: var(--green);

    font-family: "DM Mono";

    font-size: 16px;

    letter-spacing: .02em;

}


.navigation {

    display: flex;

    gap: 55px;

}


.navigation a {

    text-decoration: none;

    font-family: "DM Mono";

    font-size: 18px;

    transition: color .2s;

}


.navigation a:hover {

    color: var(--green);

}


.header-code {

    font-family: "DM Mono";

    font-size: 10px;

    color: var(--gray);

}


/* ---------- HERO ---------- */

.hero {

    width: calc(100% - 100px);

    max-width: 1440px;

    min-height: 650px;

    margin: auto;

    display: grid;

    grid-template-columns: 1fr 1fr;

    border-bottom: 1px solid var(--dark-gray);

}


.hero-content {

    padding: 110px 0 90px;

}


.eyebrow {

    font-family: "DM Mono";

    font-size: 11px;

    color: var(--purple-light);

}


.eyebrow span {

    color: var(--green);

}


.hero h1 {

    margin: 28px 0 35px;

    max-width: 800px;

    font-size: clamp(54px, 6.5vw, 92px);

    line-height: .84;

    letter-spacing: -.08em;

    font-weight: 600;

}


.hero h1 span {

    color: var(--green);

}


.hero-description {

    max-width: 510px;

    color: #c1c0bc;

    font-size: 17px;

    line-height: 1.5;

}


.main-button {

    display: inline-flex;

    align-items: center;

    gap: 35px;

    margin-top: 35px;

    padding: 17px 20px;

    background: var(--purple);

    text-decoration: none;

    font-family: "DM Mono";

    font-size: 11px;

    transition: .25s;

}


.main-button:hover {

    background: var(--green);

    color: var(--black);

}


.main-button span {

    font-size: 18px;

}


/* ---------- HERO VISUAL ---------- */

.hero-visual {

    position: relative;

    overflow: hidden;

}


.hero-image {

    position: absolute;

    top: 7%;

    left: 18%;

    width: 74%;

    height: 74%;

    object-fit: cover;

    object-position: center top;

    z-index: 1;

}


.grid {

    position: absolute;

    inset: 55px 0 50px 40px;

    background-image:

        linear-gradient(
            rgba(112,64,255,.16) 1px,
            transparent 1px
        ),

        linear-gradient(
            90deg,
            rgba(112,64,255,.16) 1px,
            transparent 1px
        );

    background-size: 58px 58px;

}


.hero-info {

    position: absolute;

    z-index: 4;

    display: flex;

    flex-direction: column;

    gap: 4px;

    font-family: "DM Mono";

    font-size: 10px;

}


.hero-info small {

    color: var(--gray);

    font-size: 8px;

}


.hero-info strong {

    color: var(--green);

    font-weight: 400;

}


.level {

    top: 100px;

    right: 50px;

}


.location {

    bottom: 75px;

    left: 45px;

}


.purple-line {

    position: absolute;

    width: 250px;

    height: 50px;

    right: 60px;

    top: 185px;

    background: var(--purple);

    transform: rotate(-35deg);

}


.green-line {

    position: absolute;

    width: 150px;

    height: 32px;

    left: 110px;

    bottom: 130px;

    background: var(--green);

    transform: rotate(-35deg);

}


.crosshair {

    position: absolute;

    right: 25px;

    top: 50%;

    color: var(--green);

    font-size: 30px;

}


/* ---------- INTRO ---------- */

.intro {

    width: calc(100% - 100px);

    max-width: 1440px;

    margin: auto;

    padding: 105px 0 65px;

    display: grid;

    grid-template-columns: .7fr 1.3fr;

    gap: 70px;

}


.section-label {

    font-family: "DM Mono";

    font-size: 11px;

    color: var(--purple-light);

}


.intro h2,
.agenda h2,
.resources h2 {

    margin: 0 0 22px;

    font-size: clamp(48px, 6vw, 82px);

    line-height: .88;

    letter-spacing: -.07em;

    font-weight: 600;

}


.intro p,
.agenda-header p {

    max-width: 520px;

    margin: 0;

    color: var(--gray);

    font-size: 16px;

    line-height: 1.55;

}


/* ---------- CATEGORY CARDS ---------- */

.categories {

    width: calc(100% - 100px);

    max-width: 1440px;

    margin: auto;

    display: grid;

    grid-template-columns: 1fr 1fr;

    border-top: 1px solid var(--dark-gray);

    border-left: 1px solid var(--dark-gray);

}


.category {

    min-height: 390px;

    padding: 28px;

    border-right: 1px solid var(--dark-gray);

    border-bottom: 1px solid var(--dark-gray);

    position: relative;

    display: flex;

    flex-direction: column;

    text-decoration: none;

    overflow: hidden;

    transition: .3s;

}


.category:hover {

    color: var(--black);

}


.category.purple:hover {

    background: var(--purple-light);

}


.category.green:hover {

    background: var(--green);

}


.category-number {

    font-family: "DM Mono";

    font-size: 11px;

    color: var(--gray);

}


.category h3 {

    margin-top: 85px;

    margin-bottom: 15px;

    font-size: clamp(45px, 5vw, 70px);

    line-height: .9;

    letter-spacing: -.07em;

}


.category p {

    max-width: 440px;

    color: #aaa9a5;

    font-size: 15px;

    line-height: 1.45;

}


.category:hover p {

    color: #242326;

}


.category-tags {

    margin-top: auto;

    max-width: 500px;

    color: #77767a;

    font-family: "DM Mono";

    font-size: 9px;

    line-height: 1.7;

}


.category-arrow {

    position: absolute;

    right: 28px;

    bottom: 25px;

    font-size: 22px;

}


/* ---------- CONTENT SECTIONS ---------- */

.content-section {

    width: calc(100% - 100px);

    max-width: 1440px;

    min-height: 600px;

    margin: 150px auto 0;

    padding-top: 30px;

    border-top: 1px solid var(--dark-gray);

    display: grid;

    grid-template-columns: .55fr 1fr 1fr;

    gap: 55px;

    align-items: center;

}


.content-section.reverse .content-visual {

    order: 1;

}


.content-section.reverse .content-text {

    order: 2;

}


.content-number {

    align-self: start;

    font-family: "DM Mono";

    font-size: 10px;

    color: var(--purple-light);

}


.content-text h2 {

    margin: 0 0 28px;

    font-size: clamp(48px, 6vw, 82px);

    line-height: .88;

    letter-spacing: -.07em;

}


.content-text p {

    max-width: 500px;

    color: var(--gray);

    font-size: 16px;

    line-height: 1.55;

}


.tags {

    display: flex;

    flex-wrap: wrap;

    gap: 7px;

    margin-top: 30px;

}


.tags span {

    padding: 8px 9px;

    border: 1px solid var(--dark-gray);

    font-family: "DM Mono";

    font-size: 9px;

}


.content-visual {

    height: 440px;

    position: relative;

    overflow: hidden;

    padding: 22px;

}


.content-visual > span {

    position: relative;

    z-index: 2;

    font-family: "DM Mono";

    font-size: 10px;

}


.purple-visual {

    background: linear-gradient(
        135deg,
        #130c27,
        var(--purple)
    );

}


.green-visual {

    background: linear-gradient(
        135deg,
        #0d1003,
        var(--green)
    );

    color: #0b0b0c;

}


.visual-shape {

    position: absolute;

    width: 230px;

    height: 230px;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%) rotate(13deg);

    border: 35px solid currentColor;

    box-shadow:
        0 0 0 35px rgba(255,255,255,.08),
        0 0 0 70px rgba(255,255,255,.04);

}


.circle-shape {

    position: absolute;

    width: 230px;

    height: 230px;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%);

    border: 35px solid currentColor;

    border-radius: 50%;

}


.cross-shape {

    position: absolute;

    width: 230px;

    height: 230px;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%);

    border: 25px solid currentColor;

}


/* ---------- AGENDA ---------- */

.agenda {

    width: calc(100% - 100px);

    max-width: 1440px;

    margin: 150px auto 0;

    padding: 75px 0 120px;

    border-top: 1px solid var(--dark-gray);

}


.agenda-header {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 60px;

    margin: 35px 0 65px;

}


.events {

    border-top: 1px solid var(--dark-gray);

}


.event {

    display: grid;

    grid-template-columns: 180px 1fr 40px;

    align-items: center;

    min-height: 130px;

    border-bottom: 1px solid var(--dark-gray);

    transition: .2s;

}


.event:hover {

    padding: 0 15px;

    background: #111114;

}


.event-date {

    display: flex;

    align-items: center;

    gap: 12px;

}


.event-date strong {

    font-size: 42px;

}


.event-date span {

    color: var(--purple-light);

    font-family: "DM Mono";

    font-size: 9px;

}


.event-information small {

    color: var(--green);

    font-family: "DM Mono";

    font-size: 9px;

}


.event-information h3 {

    margin: 7px 0 5px;

    font-size: 21px;

}


.event-information p {

    margin: 0;

    color: var(--gray);

    font-size: 13px;

}


.event-arrow {

    font-size: 22px;

}


/* ---------- RECURSOS ---------- */

.resources {

    width: calc(100% - 100px);

    max-width: 1440px;

    margin: auto;

    padding: 100px 0 150px;

    border-top: 1px solid var(--dark-gray);

    display: grid;

    grid-template-columns: .8fr 1.2fr;

    gap: 80px;

}


.resource-list {

    display: grid;

    grid-template-columns: 1fr 1fr;

    background: var(--dark-gray);

    gap: 1px;

}


.resource-list a {

    min-height: 180px;

    padding: 24px;

    position: relative;

    background: var(--black);

    text-decoration: none;

}


.resource-list a:last-child {

    grid-column: 1 / -1;

}


.resource-list a:hover {

    background: var(--purple);

}


.resource-list span {

    color: var(--purple-light);

    font-family: "DM Mono";

    font-size: 10px;

}


.resource-list strong {

    display: block;

    margin-top: 45px;

    font-size: 24px;

}


.resource-list em {

    color: var(--gray);

    font-size: 12px;

    font-style: normal;

}


.resource-list b {

    position: absolute;

    right: 24px;

    bottom: 24px;

}


/* ---------- FOOTER ---------- */

footer {

    width: calc(100% - 100px);

    max-width: 1440px;

    min-height: 170px;

    margin: auto;

    border-top: 1px solid var(--dark-gray);

    display: grid;

    grid-template-columns: 1fr 2fr 1fr;

    align-items: center;

}


footer p,
.footer-data {

    color: var(--gray);

    font-family: "DM Mono";

    font-size: 9px;

}


.footer-data {

    text-align: right;

    line-height: 1.6;

}


/* ---------- RESPONSIVE ---------- */

@media (max-width: 850px) {

    #explora .content-number,
    #explora .content-text,
    #explora .content-visual {

        grid-column: auto;

        grid-row: auto;

    }

    .header,
    .hero,
    .intro,
    .categories,
    .content-section,
    .agenda,
    .resources,
    footer {

        width: calc(100% - 36px);

    }


    .navigation {

        display: none;

    }


    .hero {

        grid-template-columns: 1fr;

        min-height: 760px;

    }


    .hero-content {

        padding: 75px 0;

    }


    .hero-visual {

        position: absolute;

        inset: 370px 0 0;

    }


    .intro,
    .resources,
    .agenda-header {

        grid-template-columns: 1fr;

    }


    .categories {

        grid-template-columns: 1fr;

    }


    .content-section {

        grid-template-columns: 1fr;

        gap: 30px;

    }


    .content-section.reverse .content-visual,
    .content-section.reverse .content-text {

        order: initial;

    }


    .content-visual {

        height: 350px;

    }


    .event {

        grid-template-columns: 100px 1fr 25px;

    }


    footer {

        grid-template-columns: 1fr;

        gap: 20px;

        padding: 40px 0;

    }


    .footer-data {

        text-align: left;

    }

}


@media (max-width: 500px) {

    .explore-options {

        grid-template-columns: 1fr;

    }


    .explore-option:last-child {

        grid-column: auto;

    }


    .explore-option p {

        max-height: none;

        margin-top: 10px;

        opacity: 1;

    }

    .hero h1 {

        font-size: 46px;

    }


    .hero-description {

        font-size: 15px;

    }


    .category {

        min-height: 350px;

    }


    .category h3 {

        font-size: 50px;

    }


    .event {

        grid-template-columns: 1fr 25px;

        padding: 20px 0;

    }


    .event-date {

        grid-column: 1 / -1;

        margin-bottom: 8px;

    }


    .resource-list {

        grid-template-columns: 1fr;

    }


    .resource-list a:last-child {

        grid-column: auto;

    }

}


.explore-options {

    display: grid;

    grid-template-columns: 1fr;

    gap: 8px;

    margin-top: 30px;

}


#explora .content-number {

    grid-column: 1 / -1;

}


#explora .content-text {

    grid-column: 1 / 3;

}


#explora .content-visual {

    grid-column: 3;

    grid-row: 2;

}


.explore-option {

    min-height: 64px;

    padding: 14px 0;

    border-top: 1px solid var(--dark-gray);

    cursor: default;

    transition: .25s;

}


.explore-option h3 {

    margin: 0;

    color: var(--off-white);

    font-size: 17px;

    line-height: 1.1;

}


.explore-option p {

    max-height: 0;

    margin: 0;

    overflow: hidden;

    color: var(--black);

    font-size: 13px;

    line-height: 1.35;

    opacity: 0;

    transition: .25s;

}


.explore-option:hover,
.explore-option:focus-visible {

    background: var(--green);

    color: var(--black);

    padding-left: 14px;

    padding-right: 14px;

    outline: none;

}


.explore-option:hover h3,
.explore-option:focus-visible h3 {

    color: var(--black);

}


.explore-option:hover p,
.explore-option:focus-visible p {

    max-height: 90px;

    margin-top: 10px;

    opacity: 1;

}


@media (max-width: 500px) {

    .explore-option p {

        max-height: none;

        margin-top: 10px;

        opacity: 1;

    }

}